<template>
  <v-main>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            <v-col cols="12" sm="8" md="8">
              <v-card class="elevation-12">
                <v-card-title>
                  Albums <v-icon>music_video</v-icon>
                  <v-spacer></v-spacer>
                  <v-text-field
                    v-model="search"
                    label="Buscar"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>
                <v-data-table
                  :headers="headers"
                  :items="albums"
                  :search="search"
                >
                  <template v-slot:items="props">
                    <td>{{ props.item.name }}</td>
                    <td class="text-xs-right">{{ props.item.nombre }}</td>
                    <td class="text-xs-right">{{ props.item.anioCreacion }}</td>
                    <td class="text-xs-right">{{ props.item.banda }}</td>
                    <td class="text-xs-right">{{ props.item.genero }}</td>
                  </template>
                  <template v-slot:no-results>
                    <v-alert :value="true" color="error" icon="warning">
                      Tu busqueda para "{{ search }}" no encontró resultados.
                    </v-alert>
                  </template>
                  <template v-slot:item.accion="{ item }">
                    <v-row
                        align="center"
                        class="mx-0"
                      >
                        <v-icon
                          small
                          class="mr-2"
                          @click="detalleAlbum(item)"
                        >
                          open_in_full
                        </v-icon>
                    </v-row>
                  </template>
                </v-data-table>
                <v-dialog v-model="showdialogDetalle" persistent max-width="550px">
                  <v-card>
                    <v-card-title>Album</v-card-title>
                    <v-img :contain="true"
                      class="white--text align-end pa-6 mr-4 ml-4"
                      height="150px"
                      src="../assets/albums.jpg"
                    >
                    </v-img>
                    <v-card-text>
                      <br/>
                      <strong>Nombre:</strong> {{detailNombre}} <br/>
                      <strong>Anio Creacion:</strong> {{detailAnioCreacion}} <br/>
                      <strong>Banda:</strong> {{detailBanda}} <br/>
                      <strong>Genero:</strong> {{detailGenero}} <br/>
                      <v-card class="elevation-0">
                        <v-card-text>
                          <strong>Canciones:</strong>
                          <v-list-item
                            v-for="([nombre,anio,duracion,cantante,genero], i) in detailCanciones"
                            :key="i"
                            link
                            :to="{name: 'Canciones'}"
                          >
                            <v-list-item v-text="nombre"></v-list-item>
                            <v-list-item v-text="anio"></v-list-item>
                            <v-list-item v-text="duracion"></v-list-item>
                            <v-list-item v-text="cantante"></v-list-item>
                            <v-list-item v-text="genero"></v-list-item>
                          </v-list-item>
                        </v-card-text>
                      </v-card>
                      
                    </v-card-text>
                    <v-divider class="mx-4"></v-divider>
                    <v-card-actions>
                    <v-btn color="primary" text @click="closeDetails">Cerrar</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-card>
            </v-col>
        </v-row>
    </v-container>
  </v-main>

</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      showdialogDetalle:false,
      search: '',
      detailNombre:null,
      detailAnioCreacion:null,
      detailBanda:null,
      detailGenero:null,
      detailCanciones:[],
      headers: [
        { text: 'Nombre', align: 'left', value: 'nombre' },
        { text: 'Anio Creacion', value: 'anioCreacion' },
        { text: 'Banda', value: 'banda' },
        { text: 'Genero', value: 'genero' },
        { text: 'Accion', value: 'accion', sortable: false }
      ]
    }
  },
  watch:{
    detailAlbum: function(val){

      //console.log(val)
      
      this.detailNombre=val.Nombre
      this.detailAnioCreacion=val.AnioCreacion
      this.detailGenero=val.Genero.Nombre
      this.detailBanda=val.Banda.Nombre
      this.detailCanciones = [['Nombre','Anio','Duracion','Cantante','Genero']]
      let lista = val.Canciones
      for(let i in lista){
        let arr = [lista[i].Nombre, lista[i].Anio, lista[i].Duracion, lista[i].Cantante.Nombre, lista[i].Genero.Nombre]
        this.detailCanciones.push(arr)
      }
    }
  },
  created () {
    this.$store.dispatch('listarAlbums')
  },
  computed: {
    ...mapState({ albums: 'listaAlbums' }),
    ...mapState(['detailAlbum']),
  },
  methods: {
    detalleAlbum(item){
      /*
      this.detailNombre=item.nombre
      this.detailAnioCreacion=item.anioCreacion
      this.detailBanda=item.banda
      this.detailGenero=item.genero
      */
      this.showdialogDetalle = true
      this.$store.dispatch('obtenerServerAlbum',{idAlbum : item.id }).then(() => {
        console.log('Durante')
      })
    },
    async closeDetails() {
      this.showdialogDetalle = false
    },
  }
}
</script>
<style scoped>
.estiloLista {
  max-width:550px
}
</style>