<template>
  <v-main>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            <v-col cols="12" sm="8" md="8">
              <v-card class="elevation-12">
                <v-card-title>
                  Canciones <v-icon>music_video</v-icon>
                  <v-spacer></v-spacer>
                  <v-text-field
                    v-model="search"
                    label="Buscar"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>
                <v-data-table
                  :headers="headers"
                  :items="canciones"
                  :search="search"
                >
                  <template v-slot:items="props">
                    <td>{{ props.item.nombre }}</td>
                    <td class="text-xs-right">{{ props.item.anio }}</td>
                    <td class="text-xs-right">{{ props.item.duracion }}</td>
                    <td class="text-xs-right">{{ props.item.cantante }}</td>
                    <td class="text-xs-right">{{ props.item.genero }}</td>
                  </template>
                  <template v-slot:no-results>
                    <v-alert :value="true" color="error" icon="warning">
                      Tu busqueda para "{{ search }}" no encontró resultados.
                    </v-alert>
                  </template>
                  <template v-slot:item.resenia="{ item }">
                    <v-row
                        align="center"
                        class="mx-0"
                      >
                        <v-rating
                        :value="item.resenia"
                        color="amber"
                        dense
                        half-increments
                        readonly
                        size="14"
                        ></v-rating>
                        <v-icon
                          small
                          class="mr-2"
                          @click="openDialog(item)"
                        >
                          mdi-pencil
                        </v-icon>
                        <v-icon v-if="item.resenia > 0"
                          small
                          class="mr-2"
                          @click="openDialogDelete(item)"
                        >
                          mdi-delete
                        </v-icon>
                        <v-icon
                          small
                          class="mr-2"
                          @click="detalleBanda(item)"
                        >
                          open_in_full
                        </v-icon>
                    </v-row>
                  </template>
                </v-data-table>
                <v-dialog v-model="showdialog" persistent max-width="500px">
                  <v-card>
                    <v-card-title>Ranking</v-card-title>
                    <v-card-text>Desea valorar la cancion?</v-card-text>
                    <v-rating
                      v-model="ratingConf"
                      background-color="amber lighten-3"
                      color="amber"
                      large
                    ></v-rating>
                    <v-text-field
                      v-model="texto"
                      counter="200"
                      label="Texto valoracion"
                    ></v-text-field>
                    <v-divider class="mx-4"></v-divider>
                    <v-card-actions>
                    <v-btn color="primary" text @click="close">Cancelar</v-btn>
                    <v-btn color="primary" text @click="votar">Aceptar</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="showdialogDelete" persistent max-width="500px">
                  <v-card>
                    <v-card-title>Eliminar</v-card-title>
                    <v-card-text>Desea eliminar la resenia de la cancion?</v-card-text>
                    <v-divider class="mx-4"></v-divider>
                    <v-card-actions>
                    <v-btn color="primary" text @click="closeDelete">Cancelar</v-btn>
                    <v-btn color="primary" text @click="eliminarResenia">Aceptar</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="showdialogDetalle" persistent max-width="500px">
                  <v-card>
                    <v-card-title>Cancion</v-card-title>
                    <v-img
                      class="white--text align-end pa-6 mr-4 ml-4"
                      height="150px"
                      src="../assets/canciones.jpg"
                    >
                    </v-img>
                    <v-card-text>
                      <br/>
                      <strong>Nombre:</strong> {{detailNombre}} <br/>
                      <strong>Anio:</strong> {{detailAnio}} <br/>
                      <strong>Duracion (Min.):</strong> {{detailDuracion}} <br/>
                      <strong>Cantante:</strong> {{detailCantante}} <br/>
                      <strong>Genero:</strong> {{detailGenero}} <br/>
                    </v-card-text>
                    <v-divider class="mx-4"></v-divider>
                    <v-card-actions>
                    <v-btn color="primary" text @click="closeDetails">Cerrar</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-card>
            </v-col>
        </v-row>
    </v-container>
  </v-main>

</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      showdialog: false,
      showdialogDelete: false,
      showdialogDetalle: false,
      ratingConf: 0,
      texto: '',
      selected: null,
      detailNombre:null,
      detailAnio:null,
      detailDuracion:null,
      detailCantante:null,
      detailGenero:null,
      search: '',
      headers: [
        { text: 'Nombre', align: 'left', value: 'nombre' },
        { text: 'Anio', value: 'anio' },
        { text: 'Duracion (Min.)', value: 'duracion' },
        { text: 'Cantante', value: 'cantante' },
        { text: 'Genero', value: 'genero' },
        { text: 'Ranking', value: 'resenia', sortable: false }
      ]
      // canciones: []
    }
  },
  created () {
    this.$store.dispatch('listarCanciones')
  },
  computed: {
    ...mapState({ canciones: 'listaCanciones' })
  },
  methods: {
    openDialog (item) {
      this.selected = item
      //console.log(this.selected)
      
      if(this.selected !== null)
      {
        this.ratingConf = this.selected.resenia
        this.texto = this.selected.reseniaTexto
      }
      this.showdialog = true
    },
    openDialogDelete (item) {
      this.selected = item
      console.log(this.selected)

      this.showdialogDelete = true
    },
    detalleBanda(item){
      this.detailNombre=item.nombre
      this.detailAnio=item.anio
      this.detailDuracion=item.duracion
      this.detailCantante=item.cantante
      this.detailGenero=item.genero

      this.showdialogDetalle = true
    },
    votar () {

      console.log(this.selected)

      this.showdialog = false

      if(this.ratingConf > 0)
      {
        let accion = ''
        if(this.selected.resenia === 0){
          accion = 'new'
        }else {
          accion = 'edit'
        }
        this.selected.resenia = this.ratingConf
        this.selected.reseniaTexto = this.texto
        this.$store.dispatch('actionReseniaCancion', {
                                            accion:accion,
                                            cancionId:this.selected.id,
                                            resenia: this.selected.resenia,
                                            texto : this.selected.reseniaTexto})
      }else{
        console.log('No se llama al servicio')
      }
    },
    eliminarResenia(){
      this.showdialogDelete = false
      if(this.selected.resenia > 0){
        this.$store.dispatch('actionReseniaCancion', {
                                          accion:'delete',
                                          cancionId:this.selected.id,
                                          resenia: this.selected.resenia,
                                          texto : this.selected.reseniaTexto})
        this.ratingConf = 0
        this.texto = ''
        this.selected.resenia = 0
        this.selected.reseniaTexto = ''
              
      }else{
        console.log('No se llama al servicio')
      }
    },
    async close () {
      this.showdialog = false
    },
    async closeDelete () {
      this.showdialogDelete = false
    },
    async closeDetails() {
      this.showdialogDetalle = false
    },
  }
}
</script>
