<template>
  <v-main>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            <v-col cols="12" sm="8" md="8">
              <v-card class="elevation-12">
                <v-card-title>
                  Integrantes <v-icon>mdi-account</v-icon>
                  <v-spacer></v-spacer>
                  <v-text-field
                    v-model="search"
                    label="Buscar"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>
                <v-data-table
                  :headers="headers"
                  :items="integrantes"
                  :search="search"
                >
                  <template v-slot:items="props">
                    <td>{{ props.item.name }}</td>
                    <td class="text-xs-right">{{ props.item.nombre }}</td>
                    <td class="text-xs-right">{{ props.item.apellido }}</td>
                    <td class="text-xs-right">{{ props.item.nacimiento }}</td>
                  </template>
                  <template v-slot:no-results>
                    <v-alert :value="true" color="error" icon="warning">
                      Tu busqueda para "{{ search }}" no encontró resultados.
                    </v-alert>
                  </template>
                  <template v-slot:item.accion="{ item }">
                    <v-row
                        align="center"
                        class="mx-0"
                      >
                        <v-icon
                          small
                          class="mr-2"
                          @click="openDialog(item)"
                        >
                          open_in_full
                        </v-icon>
                    </v-row>
                  </template>
                </v-data-table>
                <v-dialog v-model="showdialogIntegrante" persistent max-width="500px">
                  <v-card>
                    <v-card-title>Integrante</v-card-title>
                    <v-img :contain="true"
                      class="white--text align-end pa-6 mr-4 ml-4"
                      height="150px"
                      :src="selected_foto"
                    >
                    </v-img>
                    <v-card-text>
                      <br/>
                      <strong>Nombre:</strong> {{ selected_nombre}} <br/>
                      <strong>Apellido:</strong> {{selected_apellido}} <br/>
                      <strong>Nacimiento:</strong> {{selected_nacimiento}} <br/>
                    </v-card-text>
                    <v-divider class="mx-4"></v-divider>
                    <v-card-actions>
                    <v-btn color="primary" text @click="close">Cerrar</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-card>
            </v-col>
        </v-row>
    </v-container>
  </v-main>

</template>

<script>
import { mapState } from 'vuex'
const fs = require('fs')

export default {
  data () {
    return {
      showdialogIntegrante : false,
      selected_nombre: null,
      selected_apellido: null,
      selected_nacimiento: null,
      selected_foto:'',
      search: '',
      headers: [
        { text: 'Nombre', align: 'left', value: 'nombre' },
        { text: 'Apellido', value: 'apellido' },
        { text: 'Nacimiento', value: 'nacimiento' },
        { text: 'Accion', value: 'accion', sortable: false }
      ]
    }
  },
  created () {
    this.$store.dispatch('listarIntegrantes')
  },
  computed: {
    ...mapState({ integrantes: 'listaIntegrantes' }),
  },
  methods : {
    openDialog (item) {

      //console.log(item)

      this.selected_nombre = item.nombre
      this.selected_apellido = item.apellido
      this.selected_nacimiento = item.nacimiento
      this.selected_foto = item.foto //this.crateBase64Image(item.foto) //require('../assets/integrantes.jpg') //item.foto//'data:image/jpg;base64,'.concat(this.selected_foto.concat(item.foto))
     
      //console.log('data:image/jpg;base64,'+this.selected_foto);

      this.showdialogIntegrante = true
    },
    crateBase64Image(fileObject){
      const reader = new FileReader();
      
      reader.onload = (e) => {
        this.selected_foto = e.target.result
      }
      reader.readAsBinaryString(fileObject)
    },
    async close () {
      this.showdialogIntegrante = false
    },
  }
}
</script>
