<template>
    <v-app>
        <v-main>
            <v-container class="fill-height" fluid>
                <v-row align="center" justify="center">
                    <v-col cols="12" sm="8" md="8">
                        <v-card class="elevation-12">
                            <v-window v-model="step">
                                <v-window-item :value="1">
                                    <v-row>
                                        <v-col cols="12" md="8">
                                            <v-card-text class="mt-12">
                                                <h1
                                                    class="text-center display-2 teal--text text-acent-3"
                                                >
                                                    Entrar a NTAWM
                                                </h1>
                                                <br />
                                                <h4 class="text-center alt-4">
                                                    Ingrese su usuario y
                                                    contrasena
                                                </h4>
                                                <v-form>
                                                    <v-text-field
                                                        label="Usuario"
                                                        name="usuario"
                                                        prepend-icon="account_box"
                                                        type="text"
                                                        color="teal accent-3"
                                                        v-model="user"
                                                    ></v-text-field>
                                                    <v-text-field
                                                        label="Contrasenia"
                                                        name="contrasenia"
                                                        prepend-icon="lock"
                                                        type="password"
                                                        color="teal accent-3"
                                                        v-model="pass"
                                                    ></v-text-field>
                                                </v-form>
                                                <h5
                                                    v-if="msjErrLogin !== null"
                                                    style="color:red;"
                                                >
                                                    {{ msjErrLogin }}
                                                </h5>
                                            </v-card-text>
                                            <div class="text-center mt-3">
                                                <v-btn
                                                    rounded
                                                    color="teal accent-3"
                                                    @click="entrar()"
                                                >
                                                    Entrar
                                                </v-btn>
                                            </div>
                                        </v-col>

                                        <v-col
                                            cols="12"
                                            md="4"
                                            class="teal accent-3"
                                        >
                                            <v-card-text
                                                class="white--text mt-12"
                                            >
                                                <h1>Bienvenidos</h1>
                                                <br />
                                                <h5>
                                                    No estas registrado? No
                                                    esperes mas, registrate.
                                                </h5>
                                            </v-card-text>
                                            <br />
                                            <div class="text-center">
                                                <v-btn
                                                    rounded
                                                    outlined=""
                                                    dark
                                                    @click="pasarARegistrar()"
                                                    >Registrarse</v-btn
                                                >
                                            </div>
                                        </v-col>
                                    </v-row>
                                </v-window-item>

                                <v-window-item :value="2">
                                    <v-row>
                                        <v-col cols="12" md="12">
                                            <div class="text-left ml-3">
                                                <v-btn
                                                    rounded
                                                    color="teal accent-3"
                                                    @click="pasarALogin()"
                                                >
                                                    Volver
                                                </v-btn>
                                            </div>
                                            <v-card-text class="mt-12">
                                                <h1
                                                    class="text-center display-2 teal--text text-acent-3"
                                                >
                                                    Registrarse a NTAWM
                                                </h1>
                                                <br />
                                                <h4 class="text-center alt-4">
                                                    Ingrese su usuario y
                                                    contrasena
                                                </h4>
                                                <v-form>
                                                    <v-text-field
                                                        label="Usuario"
                                                        name="usuario"
                                                        prepend-icon="account_box"
                                                        type="text"
                                                        color="teal accent-3"
                                                        v-model="user"
                                                    ></v-text-field>
                                                    <v-text-field
                                                        label="Contrasenia"
                                                        name="contrasenia"
                                                        prepend-icon="lock"
                                                        type="password"
                                                        color="teal accent-3"
                                                        v-model="pass"
                                                    ></v-text-field>
                                                </v-form>
                                                <h5
                                                    v-if="msjErrRegis !== null"
                                                    style="color:red;"
                                                >
                                                    {{ msjErrRegis }}
                                                </h5>
                                            </v-card-text>
                                            <div class="text-center mt-3">
                                                <v-btn
                                                    rounded
                                                    color="teal accent-3"
                                                    @click="registrar()"
                                                >
                                                    Registrar
                                                </v-btn>
                                            </div>
                                        </v-col>
                                    </v-row>
                                </v-window-item>
                            </v-window>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
export default {
    data: () => ({
        step: 1,
        msjErrLogin: null,
        msjErrRegis: null,
        user: "",
        pass: ""
    }),
    watch: {
        /*
    firstName: function (val) {
      this.fullName = val + ' ' + this.lastName
    },
    */
    },
    computed: {},
    methods: {
        entrar() {
            console.log(
                "Datos ingresados en el Login:" + this.user + " - " + this.pass
            );
            this.msjErrLogin = null;
            if (this.user !== '' && this.pass !== '') {
                this.$store
                    .dispatch("actionLogin", {
                        user: this.user,
                        pass: this.pass
                    })
                    .then(() => {
                        if (this.$store.state.logueded) {
                            console.log(
                                "True Logueado: " + this.$store.state.logueded
                            );
                            // Llamo al servicio para hacer login.
                            this.$router.push("welcome");
                        } else {
                            this.msjErrLogin =
                                "Error, no existe el nombre o contrasenia, intente nuevamente";
                            console.log(
                                "False Logueado: " + this.$store.state.logueded
                            );
                        }
                    });
            }else{
                this.msjErrLogin =
                    "Error, debe proporcional usuario y contrasena, intente nuevamente";
            }
        },
        pasarARegistrar() {
            this.step++;
            this.msjErrLogin = null;
        },
        pasarALogin() {
            this.step--;
            this.msjErrRegis = null;
        },
        async registrar() {
            console.log(
                "Datos ingresados en el Register:" +
                    this.user +
                    " - " +
                    this.pass
            );
            if (this.user !== '' && this.pass !== '') {
                // Espero a que termine de ejecutar el dispatch antes de continuar.
                await this.$store.dispatch("actionRegister", {
                    user: this.user,
                    pass: this.pass
                });

                if (this.$store.getters.registrar) {
                    console.log("True Register");
                    // Vuelvo una ventana para atras para hacer el Login.
                    this.step--;
                    this.msjErrRegis = null;
                } else {
                    this.msjErrRegis =
                        "Error, el usuario ya existe intente nuevamente";
                    console.log("False Register");
                }
            }else{
                this.msjErrRegis =
                    "Error, debe proporcional usuario y contrasena, intente nuevamente"; 
            }
        }
    }
};
</script>

<style scoped></style>
