/* eslint-disable indent */
<template>
    <v-main>
        <v-container class="fill-height" fluid>
            <v-row align="center" justify="center">
                <v-col cols="12" sm="8" md="8">
                    <v-card class="elevation-12">
                        <v-row align="center" justify="center" class="mx-0">
                            <h1>Menú</h1>
                        </v-row>
                        <v-row align="center" justify="center">
                            <v-col cols="6" sm="6" md="6">
                                <v-card class="mx-auto my-12 elevation-12 pa-6 ml-4" :to="{name: 'Bandas'}">
                                    <v-card-title>Bandas</v-card-title>
                                    <v-img
                                    height="200"
                                    src="../assets/banda.jpg"
                                    ></v-img>

                                    <v-card-text>
                                        <div>Mira todas tus bandas y califica tus favoritas</div>
                                    </v-card-text>

                                    <v-divider class="mx-4"></v-divider>
                                </v-card>
                            </v-col>

                            <v-col cols="6" sm="6" md="6">
                                <v-card class="mx-auto my-12 elevation-12 pa-6 mr-4" :to="{name: 'Albums'}">
                                    <v-card-title>Albums</v-card-title>
                                    <v-img
                                    height="200"
                                    src="../assets/albums.jpg"
                                    ></v-img>

                                    <v-card-text>
                                        <div>Mira todos tus albums y califica tus favoritos</div>
                                    </v-card-text>

                                    <v-divider class="mx-4"></v-divider>
                                </v-card>
                            </v-col>

                            <v-col cols="6" sm="6" md="6">
                                <v-card class="mx-auto my-12 elevation-12 pa-6 ml-4" :to="{name: 'Canciones'}">
                                    <v-card-title>Canciones</v-card-title>
                                    <v-img
                                    height="200"
                                    src="../assets/canciones.jpg"
                                    ></v-img>

                                    <v-card-text>
                                        <div>Escucha todas tus canciones y califica tus favoritas</div>
                                    </v-card-text>

                                    <v-divider class="mx-4"></v-divider>
                                </v-card>
                            </v-col>

                            <v-col cols="6" sm="6" md="6">
                                <v-card class="mx-auto my-12 elevation-12 pa-6 mr-4" :to="{name: 'Integrantes'}">
                                    <v-card-title>Integrantes</v-card-title>
                                    <v-img
                                    height="200" fix
                                    src="../assets/integrantes.jpg"
                                    ></v-img>

                                    <v-card-text>
                                        <div>Mira todos los integrantes</div>
                                    </v-card-text>

                                    <v-divider class="mx-4"></v-divider>
                                </v-card>
                            </v-col>

                        </v-row>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-main>
</template>

<script>
export default {
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
