<template>
  <v-app>
    <v-app-bar
      app
      color="teal accent-3"
      dark
    >
      <div class="d-flex align-center">
        <v-btn class="transparent"  @click="entrarWelcome()">
          <v-icon>home</v-icon>
        </v-btn>
      </div>

      <v-spacer></v-spacer>

      <v-btn class="transparent"  :to="{name : 'Login'}">
        <span class="mr-2">Salir</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  components: {

  },
  data: () => ({
    //
  }),
  methods: {
    entrarWelcome () {
      if (this.$store.state.logueded) {
        if (this.$route.path !== '/welcome') {
          this.$router.push('/welcome')
        }
        // Sino no hago nada ya estoy en welcome
      } else {
        if (this.$route.path !== '/') {
          this.$router.push('/')
        }
      }
    }

  }
}
</script>
<style scoped>

</style>
